<ion-header>
  <ion-toolbar>
    <ion-title>more</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label translate>more.Languages</ion-label>
    <ion-select
      #selectedLang
      [(ngModel)]="translateConfigService.languageDefault"
      (ionChange)="changeLanguage(selectedLang.value)"
    >
      <ion-select-option
        *ngFor="let language of translateConfigService.languageall"
        [value]="language"
      >
        {{ language }}</ion-select-option
      >
    </ion-select>
  </ion-item>

</ion-content>
