<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="daily">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>วันนี้</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="medicine">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>กล่องยา</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="appointment">
      <ion-icon name="calendar-number-outline"></ion-icon>
      <ion-label>นัดหมอ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="more">
      <ion-icon name="ellipsis-horizontal-circle-outline"></ion-icon>
      <ion-label>เพิ่มเติม</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>